<link rel="stylesheet" href="/css/_footer.css">
<footer id="layout-footer" class="bg-dark" data-bs-theme="dark"">
    <div>
        <p>
            &#169; Mohd Faizan All Rights Reserved
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
               
            </ul>
        </nav>
    </div>
</footer>
