 <link rel="stylesheet" href="/css/home.css">
    <div id="home-container" style="text-align: center; margin-top: 30px;">
        <h1> TechWave Global LLC Assessment </h1>
        <ol>
            <h3>Read Breaking News</h3>
            <li><h4>First Login/Register</h4> </li>
            <li><h4>Enjoy the Feeds of Exclusive News</h4></li>
        </ol>
    <p>Already account ?<a href="/user/login" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Login</a></p>
    <p>New  account ?<a href="/user/register" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Register</a></p>



    </div>
    
